<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.washboardapps.moniker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="._Moniker"
        android:allowBackup="true"
        android:icon="@drawable/moniker_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.washboardapps.moniker.Screen_Main"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.washboardapps.moniker.Screen_Play"
            android:label="@string/title_activity_play_game"
            android:parentActivityName="com.washboardapps.moniker.Screen_Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.washboardapps.moniker.Screen_Main" />
        </activity>
        <activity
            android:name="com.washboardapps.moniker.Screen_Teams"
            android:label="@string/title_activity_pre_game"
            android:parentActivityName="com.washboardapps.moniker.Screen_Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.washboardapps.moniker.Screen_Main" />
        </activity>
        <activity
            android:name="com.washboardapps.moniker.Screen_Rounds"
            android:label="@string/title_activity_screen_rounds"
            android:parentActivityName="com.washboardapps.moniker.Screen_Teams">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.washboardapps.moniker.Screen_Teams" />
        </activity>
        <activity
            android:name="com.washboardapps.moniker.Screen_Ready"
            android:label="@string/title_activity_screen_ready"></activity>
        <activity
            android:name="com.washboardapps.moniker.Screen_End"
            android:label="@string/title_activity_screen_end"></activity>
        <activity
            android:name="com.washboardapps.moniker.Screen_Options"
            android:label="@string/title_activity_screen_options"
            android:parentActivityName="com.washboardapps.moniker.Screen_Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.washboardapps.moniker.Screen_Main" />
        </activity>
        <activity
            android:name="com.washboardapps.moniker.Screen_Cards"
            android:label="@string/title_activity_screen_cards"
            android:parentActivityName="com.washboardapps.moniker.Screen_Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.washboardapps.moniker.Screen_Main" />
        </activity>
        <activity
            android:name="com.washboardapps.moniker.Screen_Help"
            android:label="@string/title_activity_screen_help"
            android:parentActivityName="com.washboardapps.moniker.Screen_Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.washboardapps.moniker.Screen_Main" />
        </activity>
    </application>

</manifest>